@{
    ViewData["Title"] = "Space Voyage";
}

<style type="text/css">
    canvas {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px auto;
    }    
</style>

<head>

    <meta charset="UTF-8" />
    <title>Space Voyage</title>

</head>
